<div id="tituloCadastro">Cadastro de conteúdos</div>
<form class="formulario" action="/CC" method="POST">
    <input type="text" name="materia"  placeholder="Materia" class="form">
    <input name="conteudo" class="form" placeholder="Digite um texto com o conteudo"> 
    <button type="submit">Cadastrar conteúdo</button>
</form>