<a href="http://127.0.0.1:5500/paginaAluno.html">
        <img src="https://images.vexels.com/media/users/3/205565/isolated/preview/06e9efa04344b1363ec1eb57f393bf44-icone-de-cursor-do-site.png" class="logo">
        </a>
<div>

<div id="titulo"><h1>conteúdos: </h1></div>
{{#each conteudo}}
<div class="containerC">
    <div class="tituloC">
        <h1>{{materia}}</h1>
    </div>
    <div class="conteudo">
        <h2>{{conteudo}}</h2>
    </div>
</div>
    <br>
{{/each}}
</div>