<div id="tituloCadastro">Cadastro de atividades</div>
<form class="formulario" action="/atividades" method="POST">
    <input type="text" name="materia"  placeholder="Materia" class="form">
    <input name="link" class="form" placeholder="Formato Docs"> 
    <button type="submit">Cadastrar Atividade</button>
</form>